*.JPG
*.jpg
*.jpeg
*.png
*.webm
*.save
*/saves/*
*.rpyc
*.rpyb
*errors.txt
*log.txt
*traceback.txt
saves/auto-10-LT1.save
saves/auto-3-LT1.save
saves/auto-4-LT1.save
saves/auto-5-LT1.save
saves/auto-6-LT1.save
saves/auto-7-LT1.save
saves/auto-8-LT1.save
saves/auto-9-LT1.save
saves/navigation.json
saves/persistent
